/**
 * @name Aesthetic_Night
 * @version 3.0.5
 * @description A fork of Meterial Discord Recolored into Aesthetic Night (Original Author by: Capnkitten)
 * @author Deathemonic
 * 
 * @website https://github.com/Deathemonic
 * @source https://github.com/Deathemonic/discord/blob/main/source.css
 * @donate https://paypal.me/capnkitten
 */

@import url(https://rxyhn.is-a.dev/dotfiles/misc/discord/source.css);

:root {
  --accent-hue: 214;
  --accent-saturation: 48%;
  --accent-lightness: 60%;
  --accent-text-color: #fff;
  --accent-button-action: #fff; /*	-	*/

  --avatar-radius: 50%; /*	-	*/

  --message-radius: 19px;
  --message-padding-top: 8px;
  --message-padding-side: 12px; /*	-	*/

  --media-radius: 19px; /*	-	*/

  --card-radius: 5px;
  --card-radius-big: 10px; /*	-	*/

  --popout-radius: 5px;
  --popout-radius-big: 10px;
}

.theme-dark {
  --saturation-modifier: 0.175;
  --lightness-modifier: 0.2;
}

.theme-light {
  --saturation-modifier: 0.4;
  --lightness-modifier: 2.175;
}
